<div class="row" ng-controller="carListCtrl">
    <div class="well col-md-6"
         ng-repeat="item in data.cars">
        <h3>
            <a ng-href="#/CarDetails/{{item.Id}}"><strong>{{item.Make}} {{item.Model}}</strong></a>
            <span class="pull-right label label-primary">
                {{item.Price | currency}}
            </span>
        </h3>
        <span class="lead">{{item.Description}}</span>
    </div>
</div>
