<div class="row">
    <div class="well">
        <h3>
            <strong>Car 1</strong>
            <span class="pull-right label label-primary">
                {{0 | currency}}
            </span>
        </h3>
        <span class="lead">description</span>
    </div>
    <div class="pull-right btn-group">
        <a class="btn btn-default">
            1
        </a>
    </div>
</div>
